backups/mon-workflow.json
{
  "": "",
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 15 Secs Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Nano Banana POST Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Secs": {
      "main": [
        [
          {
            "node": "GET Result from Nano Banana Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Secs Again": {
      "main": [
        [
          {
            "node": "GET Result from Nano Banana Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana POST Request": {
      "main": [
        [
          {
            "node": "Wait 15 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Result from Nano Banana Node": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-29T23:37:34.722Z",
  "id": "PObTTk94wdtQXXZm",
  "isArchived": false,
  "meta": null,
  "name": "Améliorez les photos immobilières avec Google Nano Banana AI via le bot Telegram",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/google/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"enable_base64_output\": false,\n  \"enable_sync_mode\": false,\n  \"images\": [\n    \"{{ $json.webContentLink }}\"\n  ],\n  \"output_format\": \"jpeg\",\n  \"prompt\": \"Enhance this apartment photo to make it appealing for real-estate listing. Brighten the overall lighting and create a warm, inviting atmosphere. Improve color balance, contrast, and sharpness to highlight the space. Tidy up and declutter visible items (e.g., remove small messes, smooth out wrinkles on furniture, clear counters). Add natural daylight tones through the windows and enhance shadows for depth. Do not alter permanent fixtures such as flooring, walls, windows, doors, or built-in cabinetry. Keep the original layout intact but ensure the space looks clean, modern, and move-in ready.\"\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "5061e742-6592-47d8-9ca0-d1ffdd881c68",
      "name": "Nano Banana POST Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1456,
        176
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ii00jerJRlDsfgAZ",
          "name": "Temp FireCrawl2"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "65dd45ba-73ff-4774-98f5-2189bbbd2cb6",
      "name": "Wait 15 Secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        1728,
        160
      ],
      "typeVersion": 1.1,
      "webhookId": "a8917d08-7123-465e-91f5-7df6ac24f0d8"
    },
    {
      "parameters": {
        "url": "=https://api.wavespeed.ai/api/v3/predictions/{{ $json.data.id }}/result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "4ceeff92-199f-47d8-a22a-f9a0786df44d",
      "name": "GET Result from Nano Banana Node",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1984,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Ii00jerJRlDsfgAZ",
          "name": "Temp FireCrawl2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b84517df-a71f-4e28-b744-35bb1e55b85f",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed"
            }
          ]
        },
        "options": {}
      },
      "id": "76d74068-e416-4e8e-9ec7-0ac71a3abc18",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2192,
        160
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "240601da-39a3-4804-a98b-6ebe32384d7d",
      "name": "Wait 15 Secs Again",
      "type": "n8n-nodes-base.wait",
      "position": [
        2256,
        336
      ],
      "typeVersion": 1.1,
      "webhookId": "2bb354f6-d5b6-4618-89ee-b713d14a4d63"
    },
    {
      "parameters": {
        "content": "Get Image and Upload",
        "height": 800,
        "width": 304,
        "color": 3
      },
      "id": "f8dedc9a-d133-4421-923e-73f0f17fc52c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get Results from Nano Banana",
        "height": 800,
        "width": 784,
        "color": 4
      },
      "id": "0af9a813-e567-4a61-a15f-9c86a7f2ed8f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Telegram Trigger",
        "height": 800,
        "color": 5
      },
      "id": "8b0b7768-bfd9-4d98-929b-bf84333089e8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Download from Telegram",
        "height": 800,
        "width": 384
      },
      "id": "3106fd53-667e-4160-90f1-3fe7fc94703f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1d875b2d-ff09-4ff8-ae7d-2bb391aef95f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        752,
        176
      ],
      "typeVersion": 1.2,
      "webhookId": "c7ee53c0-ea4a-4956-9599-cfe8a6a2557b"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "id": "4111222e-7f16-41b1-98c1-719882718fa5",
      "name": "Get a file",
      "type": "n8n-nodes-base.telegram",
      "position": [
        992,
        176
      ],
      "typeVersion": 1.2,
      "webhookId": "8d6d0fb0-7b97-484c-ae37-5454b0a8d070"
    },
    {
      "parameters": {
        "name": "Image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list"
        },
        "options": {}
      },
      "id": "88bf1c38-d3e0-4c9d-ba16-80c4318e11df",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1200,
        176
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UqDPB5IG1vSb2j4D",
          "name": "Google Drive Dorian"
        }
      }
    },
    {
      "parameters": {
        "content": "POST Request to Nano Banana",
        "height": 800,
        "width": 336
      },
      "id": "a723c2cf-bc30-4e8a-817a-c0f17e5117b7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "file": "={{ $json.data.outputs[0] }}",
        "additionalFields": {}
      },
      "id": "380c5d6d-aa5e-485f-ba3c-95bdf352643a",
      "name": "Send a photo message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2544,
        144
      ],
      "typeVersion": 1.2,
      "webhookId": "ca01240b-6a38-4759-b6bb-93a276570e1b"
    },
    {
      "parameters": {
        "content": "🤖 Telegram Image Editor with Nano Banana\n\nSend an image to your Telegram bot, and this workflow will automatically enhance it with Google’s Nano Banana (via Wavespeed API), then return the polished version back to the same chat—seamlessly.\n\n👉 Watch step-by-step video tutorials of workflows like these on www.youtube.com/@automatewithmarc\n\nWhat it does\n\nListens on Telegram for incoming photo messages\n\nDownloads the file sent by the user\n\nUploads it to Google Drive (temporary storage for processing)\n\nSends the image to Nano Banana API with a real-estate style cleanup + enhancement prompt\n\nPolls until the job is complete (handles async processing)\n\nReturns the edited image back to the same Telegram chat\n\nPerfect for\n\nReal-estate agents previewing polished property photos instantly\n\nSocial media managers editing on-the-fly from Telegram\n\nAnyone who wants “send → cleaned → returned” image flow without manual edits\n\nApps & Services\n\nTelegram Bot API (Trigger + Send/Receive files)\n\nGoogle Drive (Temporary file storage)\n\nWavespeed / Google Nano Banana (AI-powered image editing)\n\nSetup\n\nConnect your Telegram Bot API token in n8n.\n\nAdd your Wavespeed API key for Nano Banana.\n\nLink your Google Drive account (temporary storage).\n\nDeploy the workflow and send a test photo to your Telegram bot.\n\nCustomization\n\nAdjust the Nano Banana prompt for different styles (e.g., ecommerce cleanup, portrait retouching, color correction).\n\nReplace Google Drive with another storage service if preferred.\n\nAdd logging to Google Sheets or Airtable to track edits.",
        "height": 1072,
        "width": 720
      },
      "id": "41d20fe9-698c-4b88-81f4-1d15a65f4536",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -144
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows-nov-25",
  "repo_owner": "Adam-s-tech",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-29T23:37:34.725Z",
      "createdAt": "2025-12-29T23:37:34.725Z",
      "role": "workflow:owner",
      "workflowId": "PObTTk94wdtQXXZm",
      "projectId": "oXQkWGdjmWkcvoUC"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T23:38:20.000Z",
  "versionId": "81b070c7-79a7-4faf-b16f-1e97dd1b2169"
}