backups/mon-workflow.json
{
  "": "",
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "WordPress - List Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress - List Posts": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WordPress - Create Post": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "WordPress - Create Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Blotato Data": {
      "main": [
        [
          {
            "node": "Blotato API - Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blotato API - Publish": {
      "main": [
        [
          {
            "node": "Format Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Prepare Blotato Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T21:51:58.054Z",
  "id": "z9Elm8qeyuosShdB",
  "isArchived": true,
  "meta": null,
  "name": "TEST SUB_Blotato_Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-list-posts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "096e7c0e-54dc-4a48-ae82-7d94161cb6f9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        176,
        -80
      ],
      "webhookId": "wp-list-posts"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $json.body.limit || 10 }}",
        "options": {
          "status": "={{ $json.body.status || 'publish' }}"
        }
      },
      "id": "3fc55a7d-e734-426f-ab37-6dc712501c52",
      "name": "WordPress - List Posts",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "credentials": {
        "wordpressApi": {
          "id": "4UzJQx2xZa2gAcGT",
          "name": "WordPress API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all();\n\nconst formatted = posts.map(item => ({\n  id: item.json.id,\n  title: item.json.title?.rendered || 'Sans titre',\n  status: item.json.status,\n  date: item.json.date,\n  link: item.json.link\n}));\n\nreturn {\n  json: {\n    success: true,\n    count: formatted.length,\n    posts: formatted\n  }\n};"
      },
      "id": "7a3dc3d1-135f-43ae-935a-009b0f6ab994",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "b8be5246-0afa-42d5-ab29-1e2f5966dcac",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        848,
        -80
      ]
    },
    {
      "parameters": {
        "title": "={{ $json.body.title }}",
        "additionalFields": {
          "status": "={{ $json.body.status || 'draft' }}"
        }
      },
      "id": "f38b562d-3795-4715-abbb-916d73f13cb4",
      "name": "WordPress - Create Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        416,
        144
      ],
      "credentials": {
        "wordpressApi": {
          "id": "4UzJQx2xZa2gAcGT",
          "name": "WordPress API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const post = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    message: `✅ Article créé avec succès`,\n    post_id: post.id,\n    title: post.title?.rendered || 'Sans titre',\n    status: post.status,\n    link: post.link,\n    edit_link: `https://adamai.fr/wp-admin/post.php?post=${post.id}&action=edit`\n  }\n};"
      },
      "id": "214d1d4e-0bed-4d33-a495-376228383477",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wp-create-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "18ba24aa-ce9c-4413-8f22-955ab3acaa88",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        192,
        144
      ],
      "webhookId": "wp-create-post"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "8c6b28f2-ff6b-4e6a-b759-387bab7e0c2d",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Récupère les données du webhook\nconst input = $input.first().json.body;\n\n// Prépare le payload Blotato\nreturn {\n  json: {\n    url: input.url,\n    title: input.title,\n    description: input.description || '',\n    platforms: input.platforms || ['instagram', 'facebook', 'linkedin', 'twitter', 'threads', 'bluesky', 'pinterest', 'youtube', 'tiktok']\n  }\n};"
      },
      "id": "c53a6623-6310-4955-8806-0bee4bcdffba",
      "name": "Prepare Blotato Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.blotato.com/v1/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "blotalApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "platforms",
              "value": "={{ $json.platforms }}"
            }
          ]
        },
        "options": {}
      },
      "id": "106c1c09-885d-43bf-99de-40b50b282e43",
      "name": "Blotato API - Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        368
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blotato-publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fbdd77e5-f2fa-415b-a83b-eb6ca95df6ff",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        368
      ],
      "webhookId": "blotato-publish"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nreturn {\n  json: {\n    success: true,\n    message: `✅ Publication programmée sur ${response.platforms?.length || 9} réseaux sociaux`,\n    post_id: response.id,\n    scheduled_at: response.scheduled_at,\n    platforms: response.platforms,\n    blotato_url: `https://app.blotato.com/posts/${response.id}`\n  }\n};"
      },
      "id": "b4266079-27ca-43e3-b709-944e6ffeb9a5",
      "name": "Format Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "5fae2344-e20f-40f5-a7c9-e0956e5b9546",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1088,
        368
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows-nov-25",
  "repo_owner": "Adam-s-tech",
  "repo_path": "backups/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T21:51:58.056Z",
      "createdAt": "2025-11-25T21:51:58.056Z",
      "role": "workflow:owner",
      "workflowId": "z9Elm8qeyuosShdB",
      "projectId": "oXQkWGdjmWkcvoUC"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-28T18:03:24.856Z",
      "createdAt": "2025-12-28T18:03:24.856Z",
      "id": "GTdKgw52KYtP73bB",
      "name": "A voir"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-29T00:05:39.000Z",
  "versionId": "003064e6-55a3-4c1e-a686-599caa0629f3"
}